iframe + .title {
  display: hidden;
}

.video-list-container::-webkit-scrollbar {
  display: none;
}

.modernWay {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
